@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(to bottom right, red , blue);
    font-family: sans-serif;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    display: flex;
}

.search {
    position: relative;
    height: 50px;
}

.search .input{
    background-image: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet); 
    border: 20;
    cursor: pointer;
    font-size: 25px;
    position: absolute;
    top: 0;
    left: 0;
    height: 50px;
    width: 50px;
    transition: width 0.4s ease;
}

.button {
    background-color: rgb(100, 11, 184);
    position: absolute;
    top: 0;
    left: 0;
    height: 50px;
    width: 50px;
    transition: transform 0.4s ease;
    border: 0;
    cursor: pointer;
}

.button:focus,
.input:focus {
    outline: crimson;
}

.search.active .input {
    width: 400px;
}

.search.active .button {
    transform: translateX(400px);
}